<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="dbconnection" connectionString="Data Source=.;Initial Catalog=demo;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="graphRooturl" value="https://canary.graph.microsoft.com/testprodbetacspusagebeta"/>
    <add key="billedusagetablename" value ="BilledUsage"/>
  </appSettings>
</configuration>